

.navbar {
    display: flex;
    align-items: center;
    padding: 4px 150px;

    &__link {
        color: black;
        text-decoration: none;
    }

    &__button{
        font-size: 2em;
    }
}